#login-page {
    background: #00A89E;
    position: relative;
    /* negate the navbar's margin-bottom */
    margin-top: -20px;
}

#login-page ul {padding:0;margin:0}
#login-page ul li {
    display: inline;
}

#login-page .padding10 {padding:10px}
#login-page .padtop10 {padding-top:10px}

#login-page .mrg-top20 {margin-top:20px;}
#login-page .mrg-bt20 {margin:20px 0}
#login-page .mrg-top10 {margin-top:10px}
#login-page .mrg-top20 {margin-top:20px}
#login-page .mrg-bot10 {margin-bottom:10px}

#login-page p strong {color:#02847C}

#login-page .border { border-top: 1px solid #e5e5e5;}

#login-page .logo img {margin:20px; width:77%}

#login-page .logo h1 {line-height:86px;}
#login-page .icon-title {padding: /*30px*/ 0;margin:0;text-align:center}

#login-page .icon-title img {height:120px;}
#login-page .icon-title span {
	font-size:36px;
	vertical-align:middle;
	margin-left:20px;
	}

	
#login-page #login {
	display: block;
    background: #FFF;
    position: relative;
    max-width: 550px;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    margin: 1em auto 1em;
	overflow:hidden;
}

#login-page #login-message {
    position: absolute;
    width: 550px;
    top: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

#login-page #head {background-color:#fff;}

#login-page .op-list li a {
	width: 50%;
    position: relative;
    float: left;
    text-align: center;
    background: #0CD4D4;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
	cursor: pointer;
	}
	
	
#login-page .logmod_form {
  border-top: 1px solid #e5e5e5;
}
#login-page .logmod_alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
#login-page .logmod_alter::after {
  clear: both;
  content: "";
  display: table;
}
#login-page .logmod_alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

#login-page .connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
#login-page .connect::after {
  clear: both;
  content: "";
  display: table;
}
#login-page .connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
#login-page .connect_icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
#login-page .connect_context {
  vertical-align: middle;
  text-align: center;
}
#login-page .connect.facebook {
  background: #3b5998;
  color: #FFF;
}
#login-page .connect.facebook a {
  color: #FFF;
}
#login-page .connect.facebook .connect_icon {
  background: #283d68;
}
#login-page .connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
#login-page .connect.googleplus a {
  color: #FFF;
}
#login-page .connect.googleplus .connect_icon {
  background: #b52f1f;
}

#login-page .simform {
  position: relative;
}
#login-page .simform_actions {
  padding: 15px;
  font-size: 14px;
}
#login-page .simform_actions::after {
  clear: both;
  content: "";
  display: table;
}
#login-page .simform_actions .sumbit {
  height: 48px;
  float: right;
  color: #FFF;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  background: #2D3C9A;
  margin-top: 7px;
}
#login-page .simform_actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
#login-page .simform_actions-sidetext {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 9px 0 0 0;
  color: #8C979E;
  text-align: center;
  line-height: 24px;
}
#login-page .simform_actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

#login-page .sminputs {
  border-bottom: 1px solid #E5E5E5;
}
#login-page .sminputs::after {
  clear: both;
  content: "";
  display: table;
}
#login-page .sminputs .input {
  display: block;
  position: relative;
  width: 50%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#login-page .sminputs .input.active {
  background: #eee;
}
#login-page .sminputs .input.active .hide-password {
  background: #eee;
}
#login-page .sminputs .input.full {
  width: 100%;
}
#login-page .sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
  color:#02847C;
}
#login-page .sminputs .input input {
  postion: relative;
  display: inline-block;
  height: 26px !important;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
  outline:none;
}
#login-page .sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}


#login-page .btn, .simform_actions .sumbit {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;
  min-width: 90px;
  padding: 10px 14px;
}

#login-page .btn:focus, .simform_actions .sumbit:focus, .btn:active, .simform_actions .sumbit:active, .btn.active, .simform_actions .active.sumbit, .btn:active:focus, .simform_actions .sumbit:active:focus, .btn.active:focus, .simform_actions .active.sumbit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

