#relay-loader {
    display: none;
}
.dialog #relay-loader {
    display: block;
}

#relay-loader .loader {
    height: 100px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#relay-loader .loader .background {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: .8;
}
#relay-loader .loader .background > div {
    font-family: courier;
    font-size: .9em;
    position: absolute;
    animation-name: binaryscroll;
    animation-iteration-count: infinite;
    opacity: 0;
    color: green;
}
#relay-loader .loader .binary1 {
    top: 25%;
    animation-duration: 1.7s;
    animation-delay: 2s;
    font-size: .9em;
}
#relay-loader .loader .binary2 {
    top: 32%;
    animation-duration: 1.5s;
    animation-delay: 1.2s;
    font-size: .7em;
}
#relay-loader .loader .binary3 {
    top: 46%;
    animation-duration: 1.9s;
    animation-delay: 3.6s;
    font-size: 1.1em;
}
#relay-loader .loader .binary4 {
    top: 58%;
    animation-duration: 1.3s;
    animation-delay: 1.9s;
    font-size: .8em;
}
#relay-loader .loader .binary5 {
    top: 70%;
    animation-duration: 1.6s;
    animation-delay: 0.4s;
}

@keyframes binaryscroll {
    0% {
        opacity: 0;
        left: -20%;
    }
    1% {
        opacity: .3;
        left: -5%;
    }
    5% {
        opacity: .5;
        left: 5%;
    }
    20% {
        opacity: .9;
        left: 20%;
    }
    80% {
        opacity: .8;
        left: 80%;
    }
    95% {
        opacity: .3;
        left: 95%
    }
    100% {
        opacity: 0;
        left: 130%;
    }
}


#relay-loader .loader .left-channel {
    position: absolute;
    top: 0; left: 10px;
    width: 75px;
    height: 52px;
    border: solid 5px #ababab;
    border-top: none;
    border-right: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
#relay-loader .loader .right-channel {
    position: absolute;
    bottom: 0; right: 10px;
    width: 75px;
    height: 43px;
    border: solid 5px #ababab;
    border-bottom: none;
    border-left: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#relay-loader .loader .cpu {
    position: absolute;
    left: 64px;
    top: 31px;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background: antiquewhite;
    border: 8px solid darkorange;
    box-shadow: 2px 1px 2px rgba(50,50,50,.4);
}
#relay-loader .loader .cpu .cpu-inner {

}
#relay-loader .loader .cpu .cpu-inner .cpu-bar {
    position: absolute;
    top: 6px;
    bottom: 6px;
    width: 8px;
    border-radius: 10px;
    background: #fffd7a;
    animation-name: cpubars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#relay-loader .loader .cpu .cpu-inner .cpu-bar1 {
    left: 12px;
    animation-delay: .1s;
}
#relay-loader .loader .cpu .cpu-inner .cpu-bar2 {
    left: 26px;
    animation-delay: .8s;
}
#relay-loader .loader .cpu .cpu-inner .cpu-bar3 {
    left: 40px;
    animation-delay: 1.4s;
}
#relay-loader .loader .cpu .cpu-inner .cpu-dot {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 15px;
    height: 15px;
    background: darkorange;
    border-radius: 10px;
    box-shadow: 2px 1px 2px rgba(50,50,50,.4);
}

#relay-loader .loader .left-dot {
    position: absolute;
    background: #cb1853;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    opacity: 0;
    
}
#relay-loader .loader .right-dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #3486f8;
    opacity: 0;
}

#relay-loader .loader .left-dot.active {
    animation-name: leftflow;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#relay-loader .loader .right-dot.active {
    animation-name: rightflow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes cpubars {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes leftflow {
    0% {
        top: 0;
        left: 10px;
        opacity: 0;
    }
    1% {
        top: 0;
        left: 10px;
        opacity: 1;
    }
    24% {
        top: 28px;
        left: 10px;
        opacity: 1;
    }
    31% {
        top: 37px;
        left: 15px;
        opacity: 1;
    }
    35% {
        top: 45px;
        left: 20px;
        opacity: 1;
    }
    40% {
        top: 48px;
        left: 25px;
        opacity: 1;
    }
    45% {
        top: 50px;
        left: 30px;
        opacity: 1;
    }
    50% {
        top: 52px;
        left: 38px;
        opacity: 1;
    }
    99% {
        top: 52px;
        left: 60px;
        opacity: 1;
    }
    100% {
        top: 52px;
        left: 60px;
        opacity: 0;
    }
}

@keyframes rightflow {
    0% {
        bottom: 0;
        right: 10px;
        opacity: 0;
        height: 6px;
    }
    1% {
        bottom: 0;
        right: 10px;
        opacity: 1;
        height: 8px;
    }
    22% {
        bottom: 24px;
        right: 10px;
        opacity: 1;
        height: 10px;
    }
    24% {
        bottom: 26px;
        right: 10px;
        opacity: 1;
        height: 6px;
    }
    31% {
        bottom: 32px;
        right: 15px;
        opacity: 1;
    }
    35% {
        bottom: 37px;
        right: 20px;
        opacity: 1;
    }
    40% {
        bottom: 39px;
        right: 25px;
        opacity: 1;
    }
    45% {
        bottom: 41px;
        right: 30px;
        opacity: 1;
    }
    50% {
        bottom: 43px;
        right: 38px;
        opacity: 1;
    }
    52% {
        bottom: 43px;
        right: 38px;
        opacity: 1;
        width: 8px;
    }
    55% {
        bottom: 43px;
        right: 45px;
        opacity: 1;
        width: 10px;
    }
    80% {
        bottom: 43px;
        right: 59px;
        opacity: 1;
        width: 6px;
    }
    100% {
        bottom: 43px;
        right: 62px;
        opacity: 0;
        width: 6px;
    }
}
